body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.board {
  width: 60vh;
  height: 60vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cell {
  width: 33%;
  height: 33%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}