body{
  text-align: center;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.board {
  margin-top: 5px;
  background-color: white;
  width: 60vh;
  height: 40vw;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cell {
  flex: 32.9%;
  height: 33%;
  border: 1px black;
  border-style:dotted;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: limegreen;
}

.X{
  color: red;
}