body{
  text-align: center;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.board {
  font-family: "Bagel Fat One", serif;
  margin-top: 5px;
  background-color: white;
  width: 60vw;
  height: 40vh;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cell {
  box-sizing: border-box;
  flex: calc(100% / 3);
  height: calc(100% / 3);
  border: 1px black;
  border-style:dotted;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: limegreen;
}

.X{
  color: red;
}
